*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-left-3{
  left: -0.75rem;
}

.-left-5{
  left: -1.25rem;
}

.-top-10{
  top: -2.5rem;
}

.-top-5{
  top: -1.25rem;
}

.bottom-0{
  bottom: 0px;
}

.left-1{
  left: 0.25rem;
}

.left-7{
  left: 1.75rem;
}

.right-16{
  right: 4rem;
}

.top-4{
  top: 1rem;
}

.top-6{
  top: 1.5rem;
}

.top-\[198px\]{
  top: 198px;
}

.z-\[0\]{
  z-index: 0;
}

.z-\[1\]{
  z-index: 1;
}

.z-\[2\]{
  z-index: 2;
}

.z-\[3\]{
  z-index: 3;
}

.z-\[4\]{
  z-index: 4;
}

.col-start-1{
  grid-column-start: 1;
}

.col-start-2{
  grid-column-start: 2;
}

.col-start-3{
  grid-column-start: 3;
}

.col-end-2{
  grid-column-end: 2;
}

.col-end-3{
  grid-column-end: 3;
}

.col-end-4{
  grid-column-end: 4;
}

.row-start-1{
  grid-row-start: 1;
}

.row-start-2{
  grid-row-start: 2;
}

.row-start-3{
  grid-row-start: 3;
}

.row-end-2{
  grid-row-end: 2;
}

.row-end-3{
  grid-row-end: 3;
}

.row-end-4{
  grid-row-end: 4;
}

.-ms-6{
  margin-inline-start: -1.5rem;
}

.mb-11{
  margin-bottom: 2.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-3\.5{
  margin-left: 0.875rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.ml-7{
  margin-left: 1.75rem;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.h-14{
  height: 3.5rem;
}

.h-28{
  height: 7rem;
}

.h-5{
  height: 1.25rem;
}

.h-\[125px\]{
  height: 125px;
}

.h-\[40vh\]{
  height: 40vh;
}

.h-\[45vh\]{
  height: 45vh;
}

.h-\[6vh\]{
  height: 6vh;
}

.h-\[8vh\]{
  height: 8vh;
}

.w-5{
  width: 1.25rem;
}

.w-\[103vw\]{
  width: 103vw;
}

.w-\[107vw\]{
  width: 107vw;
}

.w-full{
  width: 100%;
}

.shrink{
  flex-shrink: 1;
}

.grow{
  flex-grow: 1;
}

.basis-1\/3{
  flex-basis: 33.333333%;
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-3{
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.gap-0{
  gap: 0px;
}

.justify-self-start{
  justify-self: start;
}

.justify-self-end{
  justify-self: end;
}

.justify-self-center{
  justify-self: center;
}

.rounded-full{
  border-radius: 9999px;
}

.pt-24{
  padding-top: 6rem;
}

html, body{
  background-color: #FFE7FA ;
  overflow-x: hidden;
  margin: 0px;
}

.custom-width {
  width: calc(100vw - 4rem - 1.75rem);
}